<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.piggybank">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ParentActivities.TaskDetailsParentActivity"
            android:label="@string/title_activity_task_details_parent"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ParentActivities.CreateTaskActivity"
            android:label="@string/title_activity_create_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParentActivities.TasksParentActivity"
            android:label="@string/title_activity_tasks_parent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParentActivities.ChildOverviewParentActivity"
            android:label="@string/title_activity_child_overview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParentActivities.CreateChildAccountActivity"
            android:label="@string/title_activity_create_child_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChildActivities.ChildMainActivity"
            android:label="@string/title_activity_child_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParentActivities.ParentMainActivity"
            android:label="@string/title_activity_parent_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSelectionActivity"
            android:label="UserSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>